<h1>
  Completed Projects
</h1>


<% @projects.each do |project| %>
  <% if project.completed? %>
    <h2><%= link_to project.name, project %></h2>
    <p>
      <%= project.description %>
    </p>
  <% end %>
<% end %>
